body {
    font-size: 30px;
    font-weight: 400;
    line-height: 1.5;
    color: #3d3939;
    margin: 0;
    padding: 0;
}

main {
  margin: 0 auto;
  max-width: 800px;
}

.date {
  font-weight: bold;
  margin-right: 2em;
}

.quote {
  color:orangered;
  font-style: italic;
  font-size: smaller;
  margin-left: 2em;
}

.attribution {
  color: orangered;
  font-style: normal;
  font-size: smaller;
  margin-left: 4em;
}

footer {
  color: rgb(97, 96, 81);
  font-style: italic;
  font-size: smaller;
  border-top: 1px solid rgb(87, 86, 74);
}
.center {
  margin: 0 auto;
  display: block;
}