{{ define "main" }}
<main>
	<ul class="post-list">
		<li class="post-list-header">
			<span class="post-list-date">
				<strong>Date</strong>
			</span>
			<span class="post-list-title">
				<strong>Title</strong>
			</span>
			<span class="post-list-series">
				<strong>Series</strong>
			</span>
		</li>
		{{ $paginator := .Paginate (where .Site.RegularPages "Type" "in" .Site.Params.mainSections) }}
		{{ range $paginator.Pages }}
		<li class="post-list-row">
			<span class="post-list-date">{{ .Date.Format (default "2006 Jan" .Site.Params.dateFmt) }}</span>
			<span class="post-list-title">
				<a class="post-list-title" href="{{ .RelPermalink }}">{{ .Title }}</a>
			</span>
			<span class="post-list-series">
				{{ .Params.series }}
			</span>
			{{ end }}

	</ul>
	{{ partial "pagination.html" . }}
</main>
{{ end }}