/* @font-face {
    font-family: "Archivo";
    src: url(/archivo-variable.ttf);
}

@font-face {
    font-family: "Archivo";
    src: url(/archivo-italic-variable.ttf);
    font-style: italic;
} */

:root {
    --background-color: #e7eeed;
    --text-color: #1c2632;
    --accent1: #185cae;
    --accent1-visited: #143359;
    --accent2: #e1273d;
    --accent2-dark:#b52536;
}

a {
    color: var(--accent1);
}

a:visited {
    color: var(--accent1-visited);
}

body {
    font-family: "Times New Roman", serif;
    color: var(--text-color);
    background-color: var(--background-color);
    margin: 0;
    line-height: 1.5em;
    font-size: 1.2em;
}


p {
}

ul li {
}

pre {
    line-height: 1.5em;
    padding: 1em;
    background-color: var(--background-color2);
}

header,
main,
footer {
    max-width: 50em;
}

.summtitle a {
    text-decoration: none;
}

.summ {
    margin-bottom: 4em;
}

.centered {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.pct30 {
    width: 30%;
}

.pct40 {
    width: 40%;
}

.pct50 {
    width: 50%;
}

.pct60 {
    width: 60%;
}

.pct70 {
    width: 70%;
}

.pct80 {
    width: 80%;
}

.pct90 {
    width: 90%;
}

header {
    margin: 2em auto 0.25em;
    width: 50em;
}

.subtitle {
    margin: 0.25em auto 1em;
    width: 50em;
}
main {
    margin: 1em auto ;
    width: 50em;
}
footer {
   margin: 2em auto 1em;
    width: 50em; 
}



header {
    display: flex;
    justify-content: flex-start;
    align-items: bottom;
}
header h1, header nav {
    margin: 0;
    padding: 0;
}
header span.dir {
    padding-left: 1em;
    padding-right: 1em;
}


header h1 {
    font-weight: bold;
    font-size: 1em;
}

header h1 a {
    text-decoration: none;
    color: var(--accent1);
}

header h1 a:visited {
    color: var(--accent1);
}

.dir {
}

nav {
    margin: 0;

}

nav ul {
    list-style: none;
    display: flex;
    justify-content: flex-start;
    column-gap: 1em;
    margin: 0;
    padding: 0;
}

nav ul li {
    margin: 0;
    display: inline;
}

nav ul li a {
    text-decoration: none;
    color: var(--accent1);
}

nav ul li a:visited {
    color: var(--accent1);
}

.subtitle p.description {
    font-style: italic;

}




.post-list {
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: grid;
    grid-template-columns: 1fr 3fr 2fr;
    gap: 0.25em;
}

.post-list-header,
.post-list-row {
    display: contents;
}

.post-list-header > span {
    font-weight: bold;
    text-decoration: underline;
}

.post-list-row > span {
}

.post-list-row:first-child > span {
    background-color: #f0f0f0;
}

img {
    max-width: 100%;
}

footer {
    border-top: 1px solid var(--accent2);
}

footer p a,
footer p a:visited {
    color: var(--accent1);
}

.tagged {
}

.pagination {
    margin-top: 1em;
}