<!DOCTYPE html>
<html lang="{{ $.Site.LanguageCode }}">
{{- partial "head.html" . -}}

<body a="{{ $.Site.Params.theme_config.appearance | default " auto" }}">
    {{- partial "header.html" . -}}
    <main class="page-content" aria-label="Content">
        {{- block "main" . }}{{- end }}
    </main>
</body>
{{- if .Params.custom_js -}}
{{- range .Params.custom_js -}}
{{ $js := resources.Get (print "js/" . ".js") }}
<script type="text/javascript" src="{{ $js.RelPermalink }}"></script>
{{- end -}}
{{- end -}}

</html>