html {
  height: 100%;
}

body {
  margin: 0;
  min-height: 100%;
  overflow-wrap: break-word;
}

.post-meta {
  text-align: right;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: sans-serif;
}

h1 {
  font-weight: 900;
  letter-spacing: 1px;
}



h2,
h3 {
  font-weight: 700;
}

h4,
h5,
h6 {
  font-weight: 500;
}

h3,
h4 {
  font-style: italic;
}

p,
ul li,
ol li,
blockquote,
pre,
table,
code,
hr,
img,
figcaption {
  font-family: serif;
  font-kerning: auto;
  font-optical-sizing: auto;
  font-weight: 300;
}

hr {
  
}

p {
}

header p {
  font-style: italic;
}



*:target {
  background: yellow;
}

main {
  max-width: 600px;
  margin: 12px auto 12px;
}

header {
  max-width: 600px;
  margin: 12px auto 12px;
}

.toc {
  border: thin solid black;
  padding: 12px;
}

hr {
  text-align: center;
  border: 0;

  &:before {
    content: '/////'
  }

  &:after {
    content: attr(data-content) '/////'
  }
}

pre, code {
  font-family: "Monaco", "Consolas", monospace;
}

strong {
  font-weight: bold;
}

pre {
  background: black;
  padding: 1em;
  overflow-x: auto;
}

ul#post-list {
  margin: 0;
  padding: 0;
}

#post-list {
  display: grid;
  grid-template-columns: 6em 1fr auto;
  gap: 10px;
}

.post-list-item {
  display: contents; /* Make the <li> not affect layout */
}

.post-list-date, .post-list-link, .post-list-series {
  white-space: nowrap; /* Prevent wrapping */
  overflow: hidden; /* Hide overflow */
  text-overflow: ellipsis; 
}

.post-list-date.list-header, .post-list-link.list-header, .post-list-series.list-header {
  font-weight: 700;
  border-bottom: 2px solid #101010;
}

table {
  width: 100%;
}

table,
th,
td {
  border: thin solid black;
  border-collapse: collapse;
  padding: 0.4rem;
}

code:not(pre > code) {
  padding: 0.1em 0.2em;
  font-size: 90%;
}

code.has-jax {
  -webkit-font-smoothing: antialiased;
  background: inherit !important;
  border: none !important;
  font-size: 100%;
}

blockquote {
  font-style: italic;
  border: thin solid black;
  padding: 1rem;

  p {
    margin: 0;
  }
}

img {
  display: block; 
  max-width: 100%;
}
/*
figcaption {
  display:block;
  color: #151617;
  padding: 1em;
  margin-bottom: 2.5em;
  border: 2px solid #1f1f21;
  border-top: none;
  background-color: #ccc;
} */